/* Sets border and background colors for banner */
header
{
  border-bottom: 2px solid #082e59;
  background-color: #64748b;
}

/* Formats banner and gives its text color */
.P3_banner
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 900;
  color: #082e59;
  padding: 1.5rem 0;
}

/* Allows banner to touch screen corners, adds color to leftmost and rightmost fifths of the screen */
body
{
  margin: 0;
  background-color: #64748b;
}

/* Make middle 3/5ths of the screen white */
.content-wrap
{
  width: 80%;
  background-color: #ffffff;
  margin: 0 auto;
  min-height: 100vh;
}

/* Borders for the side */
.below-banner-content-wrap
{
  border-left: 2px solid #082e59;
  border-right: 2px solid #082e59;
  min-height: 100vh;
  padding-top: 2rem;
}

/* Spacing and placement of tabs */
nav.tabs
{
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-evenly;
}

/* rules for unselected tabs */
.nav-tab
{
  background-color: #ffffff;
  color: #082e59;
  border: 2px solid #082e59;
}

/* Color rules for active tabs */
.nav-tab.active
{
  background-color: #082e59;
  color: #ffffff;
}

/* Color rules for tabs being hovered by mouse */
.nav-tab:hover
{
  background-color: #082e59;
  color: #ffffff;
}

/* Formatting for tab content */
.tab-content
{
  display: none;
  text-align: center;
}

/* Displays tab's text when it's selected */
.tab-content.active
{
  display: block;
}

/* Color rules for tab headers */
.tab-content h1
{
  color: #082e59;
}

/* Color rules for tab content */
.tab-content p
{
  color: #64748b;
}
