.tab-content
{
  display: none;
  text-align: center;
}

.tab-content.active
{
  display: block;
}

.P3_banner
{
  display: flex;
  align-items: center;
  justify-content: centered;
}

nav.tabs
{
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-evenly;
}
